[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
"discord.py" = "==2.3.*"
httplib2 = "*"
matplotlib = "*"
unidecode = "*"
jsonschema = "*"
emoji = "*"
pydrive2 = "*"

[dev-packages]

[requires]
python_version = "3.12"
